// ==================================
// Variables
// ==================================
$color-category-darkorange: rgb(177,67,32);
$color-primary-orange: rgb(291,94,47);
$color-primary-green: #49b391 ;
$color-primary-blue: #548ec4;
$color-primary-darkblue: #4b658a;
$color-primary-red: #a21434;
$color-primary-yellow: #e8bf61;

$color-secondary-darkgreen: darken($color-primary-green, 15);

$box-shadow: 0 5px 10px rgba(0,0,0,.2);
// ==================================
// Global
// ==================================
* {
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  position: relative;
  z-index: -2;
  background-image: url(../css/assets/greycubes.png);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Marcellus', serif;
}

h5{
  font-size: 1em;
  margin: .75em 0;
}

button{
  transition: .4s;
  border: none;
  padding: .35em .85em;
}

button:hover{
  box-shadow: $box-shadow;
}

button:focus{
  outline:none;
}
// ==================================
// Categories
// ==================================
.category-page-handler{
  height: 50px;
  width: 50px;
  position: fixed;
  top: 1em;
  left: 1em;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 50%;
  z-index: 2;
  background-color:$color-secondary-darkgreen;
  transform: rotate(45deg);
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  opacity: .6;
}
.category-page-handler-rotate{
  transform: rotate(0);
}

#editCatName,
#editCatColor,
{
  width: 100%;
  padding: .4em;
  margin: .5em 0;
  opacity: .7;
}


#category-maintenance{
//  position: fixed;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: 100vh;
  background-image:url("assets/greencubes.png");
  background-size:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1.1px;
  z-index: 1;
  #category-form {
    margin-top: 6em;
    display: flex;
    flex-direction: column;

    input, button{
      width: 300px;
      padding: .75em;
      margin: .5em;
      opacity: .7;
      border: none;
      transition: .4s;
      &:hover{
        opacity: 1;
        box-shadow: $box-shadow;
        background-color: white;
      }
    } //end input, button
    input[id*='category']:focus {
      opacity: 1;
      outline: none;
      box-shadow: $box-shadow;
    }
  } //end cateogry form
  #category-list{
    padding: 0;
    list-style: none;
    color: black;
    .category-listing{
      width: 300px;
      height: 45px;
      padding: .5em;
      background-color: white;
      margin: 8px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: .6;
      transition: .4s;
      border: 1px solid transparent;
      &:hover {
        opacity: 1;
      }
      .category-color{
        position: relative;
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 1em;
      }
      &:hover{
        border: 1px solid rgba(0,0,0,.2);
        box-shadow:0 3px 5px rgba(0,0,0,.2);
      }
      .category-edit{
        margin-right: 6px;
      }
      .category-delete img{
        background-color: $color-primary-red;
      }
      .category-edit img{
        background-color: $color-primary-yellow;
      }
      .category-edit img,
      .category-delete img{
        height: 1em;
        width: 1em;
        display: inline-block;
        transition: .15s;
        padding: .25em;
        box-sizing: content-box;
        &:hover{
          transform: scale(1.1);
        }
      }
    } //end category listing
  } //end categorylist
} //end cateogry maintenance

#updateCategoryForm{
  .editCatBtns{
    button{
      padding: .25em .75em;
      border: none;
    }
    button[type=submit]{
      background-color: $color-primary-green;
    }
    button[type=reset]{
      background-color: $color-primary-yellow;
    }
  }
}

#recipeContainer{
  padding: 1em 4em;
  width: 100%;
  max-width: 1200px;
  min-height: 101vh;
  margin: auto;
  background: white;
  box-shadow: 0 15px 40px rgba(0,0,0,.2);
  position: relative;
  .recipeButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em 0;
  }
}

.recipe-category-title{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: .25em;
  box-shadow: 0 0 black;
  font-size: 1.75em;
  width: 100%;
}


#NewRecipeForm {
  display: flex;
  flex-direction: column;
  .flex-column{
    display: flex;
    flex-direction: column;
    .recipeFormDescription{
      display: flex;
      .recipeSettings{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    } //end form description
    & > div{
      margin: .5em;
    }
  } //end column
  .flex-row {
    display: flex;
    flex-direction: row;
    & > div {
      margin: .5em;
      margin-right: 5em;
      width: 320px;
    }
  } //end row
  .recipeFormNotes{
    margin: .5em;
  }
  input[type=text],
  textarea,
  select {
    width: 300px;
    margin: .25em;
    padding: .45em;
  }
  #recipeIngredientList{
    display: flex;
    flex-direction: column;
  }
  button[type=submit]{
    margin: .75em;
    background-color: $color-primary-green;
    border: none;
    padding: 1em ;
    color: white;
  }
}

.recipeFormCategories{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.addField{
  width: 300px;
  padding: 0;
  margin: .25em;
  background-color: $color-primary-blue;
  border: none;
  padding-top: 4px;
}

.categoryControls{
  display: flex;
  button{
    //background-color: $color-primary-blue;
    border: none;
    width: 2em;
    height: 2em;
    padding: .25em;
    box-sizing: content-box;
    margin:auto .75em;
    img{
      margin: auto;
      width: 2em;
      height: 2em;
    }
    &:focus{
      outline: none;
    }
  }
  button:first-child{
    background-color: $color-primary-green;
  }
  button:last-child{
    background-color: $color-primary-red;
  }
}
#backButton{
  display: none;
  border: none;
  padding: .35em .85em;
  background-color: $color-primary-darkblue;
  color: white;
}

#addRecipeButton{
  position: relative;
  right: 0;
  margin-left: auto;
  background-color: $color-primary-green;
  border: none;
  padding: .35em .85em;
  color: white;
}

#recipeListing > div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.recipeThumbnail{
  display: flex;
  flex-direction: column;
  width: 225px;
  min-width: 225px;
  box-shadow: 0 6px 14px rgba(0,0,0,.2);
  padding: 1em;
  border-radius: 5px;
  margin: .75em;
  transition: .2s;
  .recipeThumbnailText{
    margin: .75em 0;
    font-size: .9em;
    line-height: 1.2;
  }
  .recipeDetailsButton{
    display: block;
    width: 100%;
    margin-top: 5px;
    background-color: $color-primary-blue;
    color: white;
  }
  .recipeThumbnailName{
    text-align: center;
    font-weight: bold;
  }
  &:hover{
    animation: thumbnailRotate .15s linear;
  }
}

@keyframes thumbnailRotate{
  50%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(0);
  }
}

.thumbnailUniformContainer{
  margin-top:auto;
  .catColor{
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}


.recipeDetailsDisplay{
  input{
    border: none;
    &:focus{
      outline:none;
      border-bottom: 1px solid $color-category-darkorange;
    }
  }
  textarea {
    border:none;
    resize: none;
    width: 100%;
    &:focus{
      resize: auto;
    }
  }
  select {
    //border: none;
    //-webkit-appearance:none;
    //-moz-appearance: none;
    &:focus{
      -webkit-appearance:menulist;
    }
  }
}

.editRecipeDetail{
  padding: .25em;
  &:focus{
    outline: none;
    border-bottom: 1px solid black;
  }
}

.recipeDetailsDisplay{
  width: 100%;
  .recipe-display-name{
    background-color: $color-primary-orange;
    font-size: 1.5em;
    color: white;
  }
  select{
    margin: .5em .5em;
  }
  .catContainer{
    display: flex;
    width: 100%;
    margin: .5em;
    div{
      display: flex;
    }
  }
  .recipeData{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .5em;
    div{
      padding: .5em 0;
    }
  }
  .recipeDescriptionData{
    margin: .5em;
    width: 100%;
    div{
      margin: .5em 0;
      span{
        line-height: 1;
        margin: 1px;
        transition: .5s;
        &:focus{
          line-height: 1.75;

        }
      }
    }
  }
  .recipeInfo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    .list{
      //width: 300px;
      //margin: auto;
      margin-top: 0;
      margin-bottom: 1em;
      width: 40%;
      span {
        line-height: 1.75;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .recipeNotes{
    width: 100%;
    margin-bottom: 10em;
    span{
      line-height: 1;
      transition: .5s;
      &:focus{
        line-height: 1.75;
      }
    }

  }


  .inline-heading{
    display: inline-block;
    margin: 0;
  }
}


[draggable] {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -webkit-touch-callout: element;
}

.ingredDrag,
.instructDrag{
//  padding: .25em;
  display: flex;
  align-items: center;
  button{
    height: 28px;
    width: 28px;
    background-color: $color-primary-red;
    margin-left: auto;
    margin-right: 1em;
    padding: 0;
    box-sizing: content-box;
    border: none;
    img{
      height: 20px;
      width: 20px;
      padding: 4px;
      box-sizing: content-box;
    }
  }
}

.ingredDrag::before,
.instructDrag::before{
  content:" ";
  border: 2px dotted $color-primary-red;
  border-radius: 100%;
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
  transition: .5s;
  margin: 0 .5em 0 .75em;
  cursor: grab;
}

.ingredDrag:hover::before,
.instructDrag:hover::before{
  background-color: $color-primary-red;
}

.ingredDrag:hover,
.instructDrag:hover{
  background-color: rgba(0,0,0,.1);
}

.deletebuttoncontainer{
  width: 100%;
  text-align: center;
  #deleteRecipe{
    padding: .5em 1.25em;
    background-color: $color-primary-red;
    color: white;
    &:hover::before{
      content: "Warning: Deleting this recipe may not be undone!";
      position: absolute;
      left: 34%;
      transform: translateY(-3.5em);
      color: black;
      background-color: $color-primary-yellow;
      padding: .5em 1.25em;
    }
  }
}
